<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Cat</title>

</head>

<body>


<h1>Create cat</h1>


<form action="/articles/add" method="POST">
    {% csrf_token %}
    <p>Вас приветствует симулятор кота, для начала введите имя кота</p>

    <form action="">
        <div class="form_row">
            <input id="name" name="name" type="text">
        </div>
        <div class="form_row">
            <input type="submit" value="send">
        </div>
    </form>
</form>
<a href="/articles/add/">create</a>
</body>
</html>



